.container {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .parallax-background {
    position: fixed; /* Tetapkan fixed agar tidak tertimpa elemen lain */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/bg1.avif'); /* Ganti dengan gambar Anda */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 1; /* Pastikan tetap berada di bawah konten lainnya */
  }

  .content {
    z-index: 1;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
  }
}
