/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./components/ScrollParallax/styles.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* Spacer to push scroll parallax down */
.styles_spacer____NHH {
  height: 100vh; /* Space to push ScrollParallax down */
}

/* Gallery section containing scroll parallax effect */
.styles_gallery__u_WBS {
  height: 175vh; /* Adjust as necessary for scroll effect */
  overflow: hidden;
  background: rgb(45, 45, 45);
}
.styles_gallery__u_WBS .styles_galleryWrapper__fg5CP {
  position: relative;
  top: 0; /* Adjust to remove unnecessary shift */
  height: auto; /* Adjust to auto if it should scale with content */
  display: flex;
  gap: 2vw;
  padding: 2vw;
}
.styles_gallery__u_WBS .styles_column__B2ImR {
  position: relative;
  height: 100%;
  width: 25%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  white-space: nowrap;
}
.styles_gallery__u_WBS .styles_column__B2ImR .styles_imageContainer__B_PTw {
  position: relative;
  height: 33%;
  width: 100%;
  border-radius: 1vw;
  overflow: hidden;
}
.styles_gallery__u_WBS .styles_column__B2ImR .styles_imageContainer__B_PTw img {
  object-fit: cover;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[13].use[5]!./components/Hero/Intro.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.container {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .parallax-background {
  position: fixed; /* Tetapkan fixed agar tidak tertimpa elemen lain */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/bg1.avif"); /* Ganti dengan gambar Anda */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1; /* Pastikan tetap berada di bawah konten lainnya */
}
.container .content {
  z-index: 1;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}
